.twpx-price-block {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  background: #fff;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}
.twpx-price-block__title {
  color: #f18b17;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.twpx-price-block__price {
  color: #000;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.1px; /* 153.056% */
}
.twpx-price-block__price span {
  color: #b5b5b5;
}
.twpx-price-block__presence {
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.75px; /* 145% */
}
.twpx-price-block__presence span {
  color: #03ac64;
}
.twpx-price-block__labels span {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #03ac64;

  color: #fff;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.4px; /* 145% */
}
